.pie_chart_section_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    gap: 12px;
    width: 300px;
    color: white;
}
/* 
.label_wrapper {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 4px;
    height: 16px;
}

.label_color_box {
    border: none;
    height: 8px;
    width: 26px;
} */

/* .label_title {
    font-family: 'Open Sans';
    font-size: 12px;
    font-weight: 400;
    color: var(--color-white);
}

.labels_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    column-gap: 16px;
    row-gap: 2px;
} */

@media screen and (max-width: 1100px) {
    .pie_chart_section_wrapper {
        width: 256px;
    }
    /* .labels_container {
        column-gap: 14px;
    } */
}

@media screen and (max-width: 640px) {
    .pie_chart_section_wrapper {
        width: 202px;
    }
    /* .labels_container {
        column-gap: 12px;
    } */
}