.transaction_expense_wrapper {
    display: flex;
    width: 100%;
    margin-top: 36px;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    flex-wrap: wrap;
    row-gap: 22px;
}