.transaction_section_wrapper {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 8px;
    width: 64%;
    box-sizing: border-box;
}

.heading {
    margin-top: 0px;
    margin-bottom: 0px;
    /* font-family: 'Ubuntu'; */
    font-size: 28px;
    font-weight: 700;
    font-style: italic;
    line-height: 32px;
    color: var(--color-white);
}

.transaction_list_wrapper {
    height: 345px;
    width: 100%;

    border-radius: 15px;
    border: none;
    box-sizing: border-box;
    background-color: var(--color-white);
    box-shadow: 0px 4px 4px 0px #00000040;

    padding: 8px 14px 8px 22px;
}

/* css for Expense item */
.Expense_item_wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.icon_and_title_box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
}

.icon {
    display: flex;
    height: 38px;
    width: 38px;
    background-color: #D9D9D9;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
}

.icon svg {
    height: 24px;
    width: 24px;
}

.title_and_date_box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    font-family: 'Open Sans';
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
}

.title {
    margin-top: 0px;
    margin-bottom: 0px;
    color: #000000;
}

.date {
    margin-top: 0px;
    margin-bottom: 0px;
    color: #9B9B9B;
}

.price_and_actions_box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 22px;
}

.price {
    margin: 0px;
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 700;
    line-height: 22px;
    color: #F4BB4A;
}

.actions_box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 6px;
}

.button {
    height: 38px;
    width: 38px;
    border: none;
    border-radius: 15px;
    box-shadow: 0px 4px 4px 0px #00000040;
    color: var(--color-white);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.button svg {
    height: 24px;
    width: 24px;
}

.hr {
    background-color: #9B9B9B;
    margin: 0px;
    margin-top: 6px;
}

/* pagination component's css */
.pagination_comp_wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 18px;
}

.pagination_comp_box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 38px;
    width: 137px;
}

.pagination_btn_color {
    background: linear-gradient(0deg, #F1F1F1, #F1F1F1),
                linear-gradient(0deg, #F1F1F1, #F1F1F1),
                linear-gradient(0deg, #F1F1F1, #F1F1F1),
                linear-gradient(0deg, #F1F1F1, #F1F1F1);
    color: #222222;
}

.pagination_number_box {
    height: 38px;
    width: 38px;
    background-color: #43967B;
    color: var(--color-white);
    box-shadow: 0px 4px 4px 0px #00000040;
    border: none;
    border-radius: 5px;
    /* font-family: 'Ubuntu'; */
    font-size: 24px;
    font-weight: 400;
    text-align: center;
}

@media screen and (max-width: 640px) {
    .transaction_section_wrapper {
        width: 100%;
    }
    .transaction_list_wrapper {
        padding: 8px 8px 16px 16px;
        height: fit-content;
    }
    .heading {
        font-size: 24px;
        line-height: 28px;
    }
    .icon_and_title_box {
        gap: 10px;
    }
    .price_and_actions_box {
        gap: 12px;
    }
}